.venv
*.pyc
__pycache__
db.sqlite3
.git
.idea
.env
node_modules

# Dossiers de données
data/raw/
data/models/

# On ignore les vecteurs lourds
data/artifacts/*.npy

# IMPORTANT : On ne veut PAS ignorer les JSON en production
# (Les lignes suivantes annulent l'ignorance pour les JSON)
!data/artifacts/*.json
!data/processed/*.json
